services:
  web:
    build:
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/pokeapi/pokeapi
    container_name: pokeapi
    ports:
      - "3001:3000"   
      - "8081:80"
    env_file:
      - ./.env
    image: dsegura97/pokeapi
    volumes:
      - ./logs:/root/logs      
    networks:
      netnodeclase:
        ipv4_address: ${IP}
networks:
  netnodeclase:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}